@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

$darkBlue: hsl(240, 38%, 20%);
$grayishBlue: hsl(240, 18%, 77%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 32px;
}

.background {
  height: 100vh;
  .quotes img {
    position: fixed;
    top: 192px;
    left: 260px;
    z-index: -1;
  }
  .curve img {
    position: fixed;
    bottom: 0;
    z-index: -1;
  }
  .bg img {
    position: fixed;
    top: 50px;
    left: 666px;
    z-index: -1;
  }
}

.container {
  padding: 120px;
  display: flex;
  justify-content: center;
  .testimonial-1 {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .text {
      color: $darkBlue;
      margin-right: -82px;
      max-width: 650px;
      font-weight: 300;
      line-height: 42px;
    }
    .info {
      margin-top: 32px;
      display: flex;
      font-size: 21px;
      .name {
        margin-right: 10px;
        font-weight: 700;
      }
      .job-title {
        color: $grayishBlue;
        font-weight: 500;
      }
    }
  }

  .testimonial-2 {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: none;
    .text {
      color: $darkBlue;
      margin-right: -82px;
      max-width: 650px;
      font-weight: 300;
      line-height: 42px;
    }
    .info {
      margin-top: 32px;
      display: flex;
      font-size: 21px;
      .name {
        margin-right: 10px;
        font-weight: 700;
      }
      .job-title {
        color: $grayishBlue;
        font-weight: 500;
      }
    }
  }

  .image {
    right: 300px;
    top: 25%;
    z-index: -1;
    .tanya {
      display: inline;
    }
    .john {
      display: none;
    }
  }

  .button {
    position: absolute;
    top: 670px;
    right: 550px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
    border-radius: 42px;
    margin-top: -42px;
    margin-left: 42px;
    background-color: #fdfdfd;
    padding: 6px;
    display: flex;
    img {
      margin: 0 20px;
      cursor: pointer;
    }
    img:hover {
      filter: hue-rotate(-0.25turn);
    }
  }
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .background {
    height: 100vh;
    .quotes img {
      max-width: 62px;
      top: 378px;
      left: 164px;
      z-index: -1;
    }
    .curve img {
      max-width: 300px;
      bottom: 0;
      z-index: -1;
    }
    .bg img {
      max-width: 334px;
      top: 20px;
      left: 24px;
      z-index: -1;
    }
  }

  .container {
    padding: 50px 28px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    .testimonial-1,
    .testimonial-2 {
      align-items: center;
      .text {
        margin-top: 88px;
        font-size: 19px;
        text-align: center;
        line-height: 23px;
        margin-right: 0;
      }
      .info {
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        margin-top: 22px;
      }
    }
    .button {
      position: absolute;
      top: 332px;
      right: 38%;
      padding: 0;
      img {
        width: 11px;
        margin: 0 13px;
        cursor: pointer;
      }
    }
  }

  .image {
    text-align: center;
    img {
      max-width: 260px;
    }
  }
}
